@media screen and (max-width: 1200px) {
	.nav {
		position: absolute;
		top: 55px;
		right: 16px;
		width: 40vw;
		height: auto;
		padding: 20px;
		background: linear-gradient(150deg, #1e104d 35%, rgba(21, 29, 41, 0.75));
		z-index: 2;
		transform: translateY(-350%);
		transition: all 0.2s ease-out;
	}
	.nav.is-active {
		transform: none;
	}
	.nav-list {
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
	}
	.nav-list__item {
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.burger__label {
		display: flex;
		flex-direction: column;
		width: 40px;
		cursor: pointer;
	}
	.burger__line {
		background-color: var(--color-text);
		border-radius: 10px;
		height: 4px;
		margin: 4px 0;
		transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}
	.burger__line1 {
		width: 50%;
	}
	.burger__line2 {
		width: 100%;
	}
	.burger__line3 {
		width: 75%;
	}
	.header__burger:checked ~ .burger__line1 {
		transform-origin: bottom;
		transform: rotateZ(45deg) translate(6px, 0);
	}
	.header__burger:checked ~ .burger__line2 {
		transform-origin: top;
		transform: rotateZ(-45deg);
	}

	.header__burger:checked ~ .burger__line3 {
		transform-origin: bottom;
		width: 50%;
		transform: translate(19px, -6px) rotateZ(45deg);
	}
	.about {
		flex-direction: column;
		align-items: center;
	}
	.about__content-wrap {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;

		width: 90%;
		margin: 0 auto;
	}
	.project__text {
		margin-bottom: var(--margin-inner);
	}
	.project__img {
		width: 45vw;
		margin-left: 0;
		margin-top: var(--margin-inner);
	}
}
@media screen and (max-width: 800px) {
	.nav {
		right: 0;
		width: 50vw;
	}
	.nav-list__link {
		font-size: 1rem;
	}
	.section__text {
		width: 80%;
		font-size: 18px;
	}
	.hero__text--large,
	.section__heading {
		font-size: 34px;
	}
	.about {
		padding: var(--margin-inner);
	}
	.about__content-wrap {
		width: 100%;
	}
	.about__img {
		width: 70vw;
	}

	.research__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.contact-form {
		width: 70vw;
	}
	.project__heading {
		font-size: 24px;
	}
	.project__subheading {
		font-size: 22px;
	}
	.project__text {
		font-size: 16px;
		line-height: 1.2;
	}
	.list {
		padding-left: var(--margin-inner);
	}
}
@media screen and (max-width: 480px) {
	.nav {
		width: 80vw;
	}
	.header__burger-container {
		height: 26px;
		width: 34px;
	}
	.burger__lines.is-active .burger__line3 {
		transform: rotate(45deg) translate(-4px, -12px);
	}
	.section {
		width: 100%;
	}
	.section__text {
		width: 100%;
		font-size: 16px;
	}
	.hero__text--large,
	.section__heading {
		font-size: 27px;
	}
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.contacts-list {
		padding: var(--gap);
	}
	.contacts-list__item:last-of-type {
		padding: 0;
	}
	.footer__text {
		font-style: 12px;
		text-align: center;
	}
	.contact-form {
		width: 100vw;
		padding: 60px var(--gap);
	}
	.projects-list {
		grid-template-columns: repeat(1, 85vw);
	}
	.projects-item {
		border-radius: 20px;
	}
	.project__img {
		width: 80vw;
	}
	.project-item__img {
		width: 100%;
	}
	.projects-item__heading {
		font-size: 24px;
	}
	.tooltiptext {
		z-index: 5;
		opacity: 0.9;
	}
	.tooltiptext#name-error {
		left: 19%;
		bottom: 85%;
	}
	.tooltiptext#email-error {
		left: 84%;
		bottom: 62%;
	}
	.tooltiptext#message-error {
		left: 84%;
		bottom: 41%;
	}
	.tooltiptext#email-error::after,
	.tooltiptext#message-error::after {
		bottom: 30%;
		left: -5%;
		border-left-color: transparent;
		border-right-color: #ff5757;
	}
}
